table, th, tr {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: white;
}


th{
height:2.5rem;
width:8rem;
}
h1{
color: white;
margin-top:2rem;
font-size: 5rem;
}

body {
  text-align: center;
  background: rgb(20,49,135);
  background: linear-gradient(180deg, rgba(20,49,135,1) 0%, rgba(18,125,161,1) 25%, rgba(8,159,180,1) 51%, rgba(17,178,144,1) 75%, rgba(6,214,160,1) 100%);
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

#GuessTable {
  margin-left: auto;
  margin-right: auto;
}

.dropbtn {
  background-color: #05146b;
  color: white; 
  padding: 1rem; 
  font-size: 2.5rem; 
  border: none; 
  cursor: pointer; 
}

.DifficultyPicker {
  position: absolute;
  top: 0;
  left: 0;
}

.DifficultyPicker-content {
  text-align: left;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 14rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.DifficultyPicker-content div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.DifficultyPicker-content div:hover {
  background-color: #979595;
}

.DifficultyPicker:hover .DifficultyPicker-content {
  display: block;
}

.DifficultyPicker:hover .dropbtn {
  background-color: #05146b;
}

#SearchList {
  position: absolute;
  list-style: none;
  text-align: center;
  width: 5rem;
}

.search-wrapper {
  padding-top: .6rem;
  padding-bottom: .6rem;
  outline: .4rem solid black;
  align-items: center;
  background-color: white;
  width: 16rem;
  height: 24rem;
  margin-left: auto;
  margin-right: auto;
}

.searchListElement {
  width: 12rem;
  height: 1.5rem;
  margin-top: .5rem;
  margin-left: auto;
  margin-right: auto;
}

#mainGrid {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem; /* Adjust the gap as needed */
  margin-top: 1.5rem;
}