table, th, tr {
  border: 2px solid black;
  border-collapse: collapse;
  background-color: white;
}

th {
  height: 2rem;
  width: 8rem;
  font-size: 0.8rem;
}

h1 {
  color: white;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  font-size: 5rem;
}

#mainWrapper {
  width: 80vw;
  max-width: 1200px;
  aspect-ratio: 16 / 9;
}

body {
  text-align: center;
  background: linear-gradient(180deg, rgba(20,49,135,1) 0%, rgba(18,125,161,1) 25%, rgba(8,159,180,1) 51%, rgba(17,178,144,1) 75%, rgba(6,214,160,1) 100%);
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

#GuessTable {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 800px;
}

.dropbtn {
  background-color: #05146b;
  color: white;
  padding: 1rem;
  font-size: 2.5rem;
  border: none;
  cursor: pointer;
}

.DifficultyPicker {
  position: absolute;
  top: 0;
  left: 0;
}

.DifficultyPicker-content {
  text-align: left;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 14rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.DifficultyPicker-content div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.DifficultyPicker-content div:hover {
  background-color: #979595;
}

.DifficultyPicker:hover .DifficultyPicker-content {
  display: block;
}

#SearchList {
  position: absolute;
  list-style: none;
  text-align: center;
  width: 100%;
  max-width: 12rem;
}

#SearchList button {
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border: 1px solid black;
  width: 100%;
  font-size: 0.75rem;
}

#WinOrLossText{
  font-size: 1.5rem;
  color: white;
}

.search-wrapper {
  padding-bottom: 0.6rem;
  outline: 0.4rem solid black;
  align-items: center;
  background-color: white;
  width: 100%;
  max-width: 16rem;
  height: 24rem;
  margin-left: auto;
  margin-right: auto;
}

.searchListElement {
  width: 100%;
  height: 1.5rem;
  margin-top: 0.5rem;
  margin-left: auto;
  margin-right: auto;
}

#mainGrid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;
}

/* Media Queries for Responsive Design */
@media (min-width: 768px) {
  #mainGrid {
    flex-direction: row;
  }

  h1 {
    font-size: 4rem;
  }

  .dropbtn {
    font-size: 2rem;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 3rem;
  }

  .dropbtn {
    font-size: 1.5rem;
  }

  th {
    font-size: 0.7rem;
  }
}

.navBar{
  list-style-type: none; 
  text-decoration: none;
}

.navBar li{
  display: inline-block;
}

.gameModeLink{
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  padding: 2rem;
}